In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("dataset/dataset.csv")

In [3]:
# melakukan konversi data menjadi format tanggal pada kolom acq_date
df["date"] = pd.to_datetime(df["date"], format="%Y-%m-%d")

In [4]:
# df = df.set_index("date")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 240 entries, 0 to 239
Data columns (total 6 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      240 non-null    datetime64[ns]
 1   sst       240 non-null    float64
 2   soi       240 non-null    float64
 3   oni       240 non-null    float64
 4   rainfall  240 non-null    float64
 5   hotspot   240 non-null    int64
dtypes: datetime64[ns](1), float64(4), int64(1)
memory usage: 11.4 KB

In [6]:
df

          date   sst  soi   oni  rainfall  hotspot
0   2001-01-31 -0.76  1.0 -0.68     418.6        3
1   2001-02-28 -0.56  1.7 -0.52     295.4        5
2   2001-03-31 -0.37  0.9 -0.44     360.6       10
3   2001-04-30 -0.56  0.2 -0.34     403.7       20
4   2001-05-31 -0.46 -0.5 -0.25     116.9       39
..         ...   ...  ...   ...       ...      ...
235 2020-08-31 -0.52  1.1 -0.57      82.7       65
236 2020-09-30 -0.64  0.9 -0.89     211.8       29
237 2020-10-31 -1.13  0.5 -1.17     437.3       40
238 2020-11-30 -1.23  0.7 -1.27     237.4       30
239 2020-12-31 -0.99  1.8 -1.19     405.8        8

[240 rows x 6 columns]

In [10]:
df2 = df.set_index('date').resample('M')["hotspot"].sum().to_frame();

In [11]:
df2

            hotspot
date
2001-01-31        3
2001-02-28        5
2001-03-31       10
2001-04-30       20
2001-05-31       39
...             ...
2020-08-31       65
2020-09-30       29
2020-10-31       40
2020-11-30       30
2020-12-31        8

[240 rows x 1 columns]

In [8]:
df["hotspot"].sum()

155661